.directions {
  display: flex;
  flex-direction: column;
  gap: 26px;

  padding: 34px 30px;
}

.directions__card {
  display: flex;
  flex-direction: column;
  padding: 14px 34px;

  background-color: #0077FF;

  border-radius: 24px;
}

.directions__title {
  font-size: 32px;
  color: #fff;
}

.directions__description {
  color: white;
}

.directions__card_is_grey {
  background-color: #F1F2F7;
}

.directions__text_is_black {
  color: black;
}