.footer {
  display: flex;
  min-height: 100px;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;

  background-color: #F1F2F7;
}

.footer__icons {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 20%;
}

.footer__vk {
  height: 24px;
  width: 24px;

  background-image: url(/css/images/footer__vk.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.footer__tg {
  height: 24px;
  width: 24px;

  background-image: url(/css/images/footer__tg.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}