.hero {
  padding-top: 94px;
  padding-left: 16px;
}

.hero__content {
  display: flex;
  flex-direction: column;

  position: relative;
  
  gap: 16px;
}

.hero__badge {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #0077FF;
  color: #fff;
  padding: 12px 6px;
  border-radius: 24px;
}

.hero__header {
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
}

.is_blue {
  color: #0077FF;
}

.hero__button {
  align-self: flex-start;
  background-color: transparent;
  color: #000;
  padding: 12px 6px;
  border-radius: 24px;
  border-width: 1px;
}

.hero__button a {
  text-decoration: none;
  color: #000;
}

.hero__button:active {
  background-color: #000;
  color: #fff;
}

.hero__button a:active {
  color: #fff;
}

.hero__typing {
  display: inline-block;
  margin-top: 8px;

  font-size: 32px;
  font-weight: 500;
  color: #000;

  white-space: nowrap;
}

/* мигающий курсор */
.hero__typing::after {
  content: '|';
  margin-left: 2px;
  animation: blink 1s infinite;
}

.page.menu-open .hero__typing {
  opacity: 0;
}

@keyframes blink {
  0%, 50% { opacity: 1; }
  51%, 100% { opacity: 0; }
}
