@font-face {
  font-family: 'VK Sans';
  src: url('/css/fonts/VKSansDisplay-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'VK Sans';
  src: url('/css/fonts/VKSansDisplay-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'VK Sans';
  src: url('/css/fonts/VKSansDisplay-Bold.ttf');
  font-weight: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  min-height: 100vh;

  background-color: #fff;

  font-family: 'VK Sans', 'Segoe UI';
  font-weight: 400;
  font-size: 14px;

  padding: 0;
  margin: 0;
}

